$main-color: #7334E6;
$second-color: #F5F5F5;
$custom-black: #1A1A1A;
$light-black: #222222;
$red: #ee204d;
$green: #47A76A;
$white: #fff;

$font-family: 'Rubik', sans-serif;
$font-size: 16px;
$font-size-big: 18px;
$font-size-h1: 42px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-weight-regular: 400;
$font-weight-bold: 600;