.stat {
    &__h1 {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        width: 100%;

        @media screen and (max-width: $mobile-desctop) {
            row-gap: 16px;
        }
    }
    
    &__block {
        width: 100%;
        min-height: 150px;
        padding: 24px;
        border-radius: 16px;
        background-color: $second-color;
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 24px;
        row-gap: 16px;
        justify-content: space-between;
        align-content: space-between;
        text-decoration: none;
        transition: transform 0.3s ease-in-out;

        @media screen and (min-width: $sceed-desctop) {
            &:hover {
                transform: scale(1.01);
            }
        }

        @media screen and (max-width: $mobile-desctop) {
            grid-template-columns: 1fr;
            row-gap: 8px;
            column-gap: 18px;
        }
    }

    &__textTitle {
        display: block;
        font-weight: $font-weight-bold;
        margin-bottom: 4px;
    }

    &__title {
        font-size: $font-size-h2;
        font-weight: $font-weight-bold;
        color: $custom-black;

        
        @media screen and (max-width: $mobile-desctop) {
            font-size: $font-size-h3;
        }
    }

    &__text {
        width: max-content;
        color: $light-black;
    }
}