.formShown {
    padding: 40px 15px;

    &__title  {
        margin-bottom: 32px;

        &__success {
            color: $green;
        }

        @media screen and (max-width: $mobile-desctop) {
            margin-bottom: 24px;
        }
    }
    
    &__subtitle  {
        margin-bottom: 18px;
        @media screen and (max-width: $mobile-desctop) {
            margin-bottom: 16px;
        }
    }

    &__item {
        margin-bottom: 56px;
        @media screen and (max-width: $mobile-desctop) {
            margin-bottom: 40px;
        }
    }

    &__errorMain {
        width: 100%;
        display: block;
        margin-top: 8px;
    }
}